input,
select {
    border-color: #cdcdcd;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    height: 25px;
}

.chkPrioridade {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;

}

.chkPrioridadeDesabilitado {
    appearance: none;
    max-width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

:checked {
    transition-duration: 1000ms;
    max-width: 20px;
    height: 20px;
}

.grupoInput span {
    font-size: 16px;
}

#idDepartamento {
    max-width: 60px;
}

#departamento {
    max-width: 450px;
}

#dataRequisicao {
    max-width: 120px;
}

#idFuncionario {
    max-width: 60px;
}

#NomeFuncionario {
    max-width: 450px;
}

#cargo {
    max-width: 120px;
}

#categoriaMotivo {
    max-width: 130px;
}

#Motivo {
    max-width: 200px;
}

.grupo9 {
    max-width: 250px;
}

.camposItens span {
    font-size: 16px;
}

.grupoProduto {
    max-width: 90px;
    margin-right: 5px;
}

.grupoProduto input {
    max-width: 90px;
}

.grupoProdutoDescricao {
    max-width: 200px;
    margin-right: 5px;
}

.grupoProdutoDescricao input {
    max-width: 200px;
}

.grupoEstoque {
    max-width: 80px;
    margin-right: 5px;

}

.grupoEstoque input {
    max-width: 80px;
    margin-right: 5px;

}

.grupoQuantidade {
    max-width: 80px;
    /* margin-right: 5px; */

}

.grupoQuantidade input {
    max-width: 80px;
    padding-right: 5px;
    margin-right: 5px;
}


.grupoTotal {
    display: flex;
    justify-items: center;
}

.BtnInserirItens {
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 100px;
    border-radius: 20px;
}

.BtnInserirItens:hover {
    background-color: #606060;
}
.BtnInserirItens span {
    color: #ffffff;
}

#BtnInserirItens {
    background-color: #0095C5;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
    transition: 0.5s;
}
#BtnInserirItens span {
    color: #ffffff;
}

#BtnInserirItens:hover {
    background-color: #005f7e;
}

#urgente:checked {
    border: 1px solid red;
    background-color: red;
    transform: scale(1.2);
}

#medio:checked {
    border: 1px solid yellow;
    background-color: yellow;
    transform: scale(1.2);
}

#baixo:checked {
    border: 1px solid green;
    background-color: green;
    transform: scale(1.2);

}