@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    color: #000000;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0 400px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.main {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.header span {
    color: black;
}

.conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: white;
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 1px solid black;
    border-radius: 2rem;
    flex-wrap: wrap;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.camposPrincipais {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

.linhasCampos {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.grupoInput {
    display: flex;
    flex-direction: column;
}

.grupo9 {
    margin-left: 1px;
    display: flex;
    justify-content: center;
}

.radioPrioridade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 5px;
    border-color: #cdcdcd;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: #000000;
}

.radioPrioridadeDesabilitado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 5px;
    border-color: #cdcdcd;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: red;
    color: #ffffff;
}

.grupoPrioridade {
    display: flex;
    padding-left: 2px;
}

.grupoCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAdd {
    width: 30px;
    height: 30px;
}

.btnAdd:hover {
    cursor: pointer;
    scale: 1.5;
    transition-duration: 1000ms;
}

.grupoMotivo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ITENS */
.camposItens {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.linhaAdicionarItens {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-wrap: wrap;
    justify-content: center;
}

.grupoStatusEstoque {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.grupoStatusEstoque img {
    display: flex;
    width: 30px;
    height: 30px;
}

.grupoBtnInserirItens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.tabelaItens {
    margin-top: 10px;
}

/* css para a tabela */
.tabelaItens {
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: unset;
}

.tabelaItens th {
    background-color: #15c7ff;
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.tabelaItens tr,
.tabelaItens td {
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
    padding-left: 10px;
}